{
  "presets": [
    ["env", {
      "targets": {
        "node": "8.0.0"
      }
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-class-properties", { "spec": false }],
    "add-module-exports"
  ]
}
